@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.ctn {
    display: flex;
}
.left {
    display: flex;
    flex-direction: column;
    background-image: url(./assets/background.jpg);
    height: 100vh;
    width: calc(100vw / 2.7);
    justify-content: space-between;
}
.right {
    background-image: url(./assets/background.jpg);
    transform: rotate(180deg);
    height: 100vh;
    width: calc(100vw / 3);
}
.logo-ctn {
    display: flex;
    justify-content: center;
    color: #fbfbfb;
    font-family: "Norse";
    background-color: #252525aa;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    position: relative;
    top: 280px;
    padding: 15px;
}

.logo-img {
    height: 120px;
    text-align: center;
}
footer {
    color: #fbfbfb;
    text-align: center;
    margin-bottom: 30px;
}
footer a {
    color: #fbfbfb;
}
.content {
    width: calc(100vw / 2);
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 15px;
}
.log-ctn {
    background-color: #f8f8f8;
    height: 30vh;
}
label {
    display: block;
    color: #686868;
    font-size: 0.8rem;
    margin-top: 15px;
}
.header, .form-ctn, .log-ctn {
    padding: 50px;
}
.header {
    background-color: #f8f8f8;
    padding-top: 100px;
}
.form-ctn {
    box-shadow: 0px 3px 6px #45454588; 
    z-index: 2;
}

input {
    border-radius: 4px;
    border: #686868 solid 1px;
    height: 1.5rem;
}
.input-div {
    display: flex;
    width: 32vw;
    flex-wrap: wrap;
}
.input-items {
    margin-right: 40px;
    padding: 5px;
}
input[type=submit] {
    background-color: #03c0d2;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 10px;
    height: 50px;
    width: 220px;
    color: #f8f8f8;
    margin-bottom: 30px;
}
input[type=submit]:hover {
    cursor: pointer;
    background-color: #11ca07;
    box-shadow: 0 0 5px #45454588;
}
.log-a {
    text-decoration: none;
    color: #03c0d2;
}
.log-a:hover {
    color: #11ca07;
}
.submit-text {
    font-size: 1.4rem;
}
.inputs {
    width: 12vw;
    height: 28px;
    border: 1px solid #aaaaaa;
    padding-left: 8px;
}
.inputs:focus {
    border: 2px solid #03c0d2;
    outline: none;
    box-shadow: 0 0 5px #45454588;
}
.inputs:invalid {
    border: 2px solid #d20345;
}